// Tablets & Smaller
@media (max-width: 900px) {
  header {
    height: auto;

    #navbar {
      flex-direction: column;
      align-items: start;
      padding-bottom: 0.3rem;
      // justify-content: center;
      align-items: center;

      ul {
        padding-bottom: 1rem;
        flex-direction: column;
        align-items: flex-start;

        li {
          margin-top: 0.1rem;
          font-size: 1.2rem;
          padding-top: 2rem;
        }
      }
    }

    .toggle {
      display: inline-block;
    }

    .nav-search,
    .nav-left {
      display: none;
    }

    .nav-search {
      padding-top: 1rem;
    }
  }

  body {
    margin: 6rem auto;
  }
}

// Smartphones
@media (max-width: 500px) {
  body {
    margin: 5rem auto;
  }
}
