* {
  margin: 0;
  padding: 0;
}

html {
  height: auto;
}

body {
  background-color: #fff;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 8rem auto;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: inherit;
  opacity: 0.8;
}

a:active {
  color: inherit;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

input {
  border: none;
  padding: 0.7rem 1rem;
  background: #f7f7f9;
}

input:focus {
  outline: none;
}

button {
  border-radius: 0;
  background-color: #343a40;
  color: #fff;
}

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

#add-cart-btn {
  margin-left: 0.4rem;
  background-color: #343a40;
  color: #f7f7f9;
}

#add-cart-btn:hover {
  background-color: #343a40;
  opacity: 0.8;
  color: #f7f7f9;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header {
  top: 0;
  background: #343a40;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 10;
  opacity: 0.99;
}

header #navbar {
  padding-top: 1.3rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #navbar .nav-logo {
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 0.5rem 1rem;
}

header #navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-bottom: 0;
}

header #navbar ul li {
  padding-left: 1.5rem;
}

header #navbar ul li i {
  margin-right: 0.3rem;
}

header #navbar ul #categories {
  margin-right: 3rem;
}

header #navbar input[type="submit"] {
  margin-left: 0.4rem;
  background-color: inherit;
  border: #4bbf73 2px solid;
  color: #4bbf73;
}

header #navbar input[type="submit"]:hover {
  background-color: #4bbf73;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header #navbar input[type="text"] {
  padding: 0.7rem 1rem;
}

.toggle {
  position: absolute;
  top: 2.2rem;
  right: 6rem;
  -webkit-transform: scale(2);
          transform: scale(2);
  display: none;
}

#carousel {
  position: relative;
  margin: 6rem auto;
  background-color: #f7f7f9;
  padding: 1rem 0;
}

#carousel img {
  height: 480px;
  -o-object-fit: contain;
     object-fit: contain;
}

#carousel .carousel-item h3 {
  padding: 0.5rem 0;
  background: #343a40;
  font-weight: 1000;
  color: #fff;
}

#sign-in .title,
#sign-up .title,
#cart-main .title {
  text-transform: uppercase;
  font-weight: 700;
}

#sign-in input,
#sign-up input,
#cart-main input {
  border: none;
  padding: 0.7rem 1rem;
  background: #f7f7f9;
}

#sign-in input:focus,
#sign-up input:focus,
#cart-main input:focus {
  outline: none;
}

#sign-in a,
#sign-up a,
#cart-main a {
  color: #000;
}

#sign-in a:hover,
#sign-up a:hover,
#cart-main a:hover {
  opacity: 1;
  text-decoration: underline;
}

#sign-in .btn,
#sign-up .btn,
#cart-main .btn {
  border-radius: 0;
  padding: 0.7rem 1rem;
}

#latest a {
  color: #000;
}

#latest a:hover {
  opacity: 1;
  text-decoration: underline;
}

.back-btn {
  background-color: #fff;
  color: #000;
}

.back-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#products a {
  color: #000;
}

#products a:hover {
  color: #000;
}

#products a:visited {
  color: #000;
}

.card {
  border: #343a40 2px solid;
}

#categories-main div {
  height: 210px;
  width: auto;
  position: relative;
}

#categories-main div img {
  margin: 0 25.3rem;
  height: 100%;
  width: auto;
  border: #343a40 4px solid;
  border-radius: 10px;
}

#categories-main div h1 {
  position: absolute;
  font-weight: bold;
  text-decoration: underline;
  background: #c4c4c4;
}

#categories-main div a {
  color: #343a40;
}

#categories-main div a:hover {
  color: #000;
}

#categories-main .d1 h1 {
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
}

#categories-main .d1 img {
  float: left;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

#categories-main .d1 h1 {
  top: 40%;
  right: 36%;
}

#categories-main .d2 h1 {
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
}

#categories-main .d2 img {
  float: right;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

#categories-main .d2 h1 {
  top: 40%;
  left: 31%;
}

footer {
  background-color: #f7f7f9;
}

footer p {
  margin-bottom: 0;
}

@media (max-width: 900px) {
  header {
    height: auto;
  }
  header #navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-bottom: 0.3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #navbar ul {
    padding-bottom: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header #navbar ul li {
    margin-top: 0.1rem;
    font-size: 1.2rem;
    padding-top: 2rem;
  }
  header .toggle {
    display: inline-block;
  }
  header .nav-search,
  header .nav-left {
    display: none;
  }
  header .nav-search {
    padding-top: 1rem;
  }
  body {
    margin: 6rem auto;
    height: auto;
  }
  #categories-main {
    text-align: center;
  }
  #categories-main div {
    height: 200px;
    margin-bottom: 3rem;
  }
  #categories-main img {
    margin: 0;
  }
  #categories-main h1 {
    position: static;
  }
  #categories-main .d1 img,
  #categories-main .d2 img {
    float: none;
    margin: 0;
  }
  #categories-main .d1 h1,
  #categories-main .d2 h1 {
    position: static;
  }
}

@media (max-width: 500px) {
  body {
    margin: 5rem auto;
  }
}
/*# sourceMappingURL=style.css.map */