// Variables
$website-width: 1280px;
$color-main: #4bbf73;
$color-dark: #343a40;
$color-light: #fff;
$color-lightx2: #f7f7f9;

//General Styles
* {
  margin: 0;
  padding: 0;
}

html {
  height: auto;
}

body {
  background-color: #8db69bab;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 8rem auto;
  // min-height: 100vh;
}

a {
  text-decoration: none;
  color: $color-light;

  &:hover {
    color: inherit;
    opacity: 0.8;
  }

  &:active {
    color: inherit;
  }

  &:visited {
    color: inherit;
  }
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

input {
  border: none;
  padding: 0.7rem 1rem;
  background: $color-lightx2;

  &:focus {
    outline: none;
  }
}

button {
  border-radius: 0;
  background-color: $color-dark;
  color: #fff;
}

// Utilities
.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

#add-cart-btn {
  margin-left: 0.4rem;
  background-color: $color-dark;
  color: $color-lightx2;

  &:hover {
    background-color: $color-dark;
    opacity: 0.8;
    color: $color-lightx2;
    transition: all 0.2s ease-in-out;
  }
}

// navbar
header {
  top: 0;
  background: $color-dark;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 10;
  opacity: 0.99;

  #navbar {
    padding-top: 1.3rem;
    color: $color-light;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .nav-logo {
      font-size: 1.5rem;
      font-weight: 900;
      letter-spacing: 2px;
      padding: 0.5rem 1rem;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-bottom: 0;

      li {
        padding-left: 1.5rem;

        i {
          margin-right: 0.3rem;
        }
      }

      #categories {
        margin-right: 3rem;
      }
    }

    input[type="submit"] {
      margin-left: 0.4rem;
      background-color: inherit;
      border: $color-main 2px solid;
      color: $color-main;

      &:hover {
        background-color: $color-main;
        color: $color-light;
        transition: all 0.2s ease-in-out;
      }
    }

    input[type="text"] {
      padding: 0.7rem 1rem;
    }
  }
}

.toggle {
  position: absolute;
  top: 2.2rem;
  right: 6rem;
  transform: scale(2);
  display: none;
}

// carousel
#carousel {
  position: relative;
  margin: 6rem auto;
  background-color: #8db69b;
  padding: 1rem 0;

  img {
    height: 480px;
    object-fit: contain;

    // &::after {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 100%;
    //   z-index: 2;
    //   opacity: 1;
    // }
  }

  .carousel-item {
    h3 {
      padding: 0.5rem 0;
      background: $color-dark;
      font-weight: 1000;
      color: #fff;
    }
  }
}

// Sign in page
#sign-in,
#sign-up,
#cart-main {
  .title {
    text-transform: uppercase;
    font-weight: 700;
  }

  input {
    border: none;
    padding: 0.7rem 1rem;
    background: $color-lightx2;

    &:focus {
      outline: none;
      // border: $color-dark 1px solid;
    }
  }

  a {
    color: #000;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  .btn {
    border-radius: 0;
    padding: 0.7rem 1rem;
  }
}

#latest {
  a {
    color: #000;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
}

// Product info
.back-btn {
  background-color: $color-light;
  color: #000;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

#products {
  div.my-3.p-3.rounder.card {
    background-color: #8db69b;
  }

  // .card-body {
    // background-color: #8db69bab;
  // }

  a {
    color: #000;

    &:hover{
    color: #000;
    }

    &:visited {
    color: #000;
    }
  }
}

#categories-main {
  div {
    height: 210px;
    width: auto;
    position: relative;
    
    img {
      margin: 0 25.3rem;
      height: 100%;
      width: auto;
      border: $color-main 4px solid;
      border-radius: 10px;
    }

    h1 {
      position: absolute;
      font-weight: bold;
      text-decoration: underline;
      background: $color-main;
    }

    a {
      color: $color-dark;

      &:hover {
        color: #000;
      }
    }
  }

  .d1 {
    h1 {
      transform: skew(10deg);
    }
    img {
      float: left;
      transform: rotate(-10deg);
    }
    h1 {
      top: 40%;
      right: 36%;
    }
  }

  .d2 {
    h1 {
      transform: skew(-10deg);
    }
    img {
      float: right;
      transform: rotate(10deg);
    }
    h1 {
      top: 40%;
      left: 31%;
    }
  }
}

footer {
  background-color: $color-lightx2;

  p {
    margin-bottom: 0;
  }
}

@import "media";
